	<div class="site-wrapper-inner">
		<div class="cover-container">

			<header class="masthead clearfix">
				<div class="inner">
					<h3 class="masthead-brand">Archway v{{ version }}</h3>
					<ul class="nav masthead-nav">
						<li><a class="button" {{action 'selectModel3dFile'}}>Load Model</a></li>
						<li><a class="button" {{action 'selectOPCLayoutFile'}}>Load OPC Layout</a></li>
						<li><a href="#">Options</a></li>
						<li><a href="#">About</a></li>
					</ul>
				</div>
			</header>

{{outlet}}

			<footer class="mastfoot">
				<div class="inner">
				</div>
			</footer>


		</div>
	</div>
