

			<div class="index">	
				<p class="lead">
					Archway will visualize an LED layout and respond to OpenPixelControl commands. Get started:
				</p>
				<p class="lead">
					<a {{action 'selectOPCLayoutFile'}}>Load OPC Layout</a> |
					<a {{action 'selectModel3dFile'}}>Load Model</a> | 
					<a {{action 'openScene'}}>Open a Scene</a>
				</p>
			</div>
