

			<div class="index">	
				<p class="lead">Archway will display your OPC layout and a model. Get started:</p>
				<p class="lead">
					<a {{action 'selectModel3dFile'}}>Load Model</a> | 
					<a {{action 'selectOPCLayoutFile'}}>Load OPC Layout</a>
				</p>
			</div>
