<div class="scene-view">
	<div id="controls" class="ui-overlay">
		<button id="toggle-play">Pause</button>
		<button id="reset">Reset</button>
		<button id="switch-renderers"></button>
		<hr>
		<button id="show-opc-layout">Show OPC Layout</button>
	</div>
	
	<div id="legend" class="ui-overlay">
		<dl>
			<dt>fwd</dt><dd>W</dd>
			<dt>back</dt><dd>S</dd>
			<dt>truck left</dt><dd>A</dd>
			<dt>truck right</dt><dd>D</dd>
			<dt>up</dt><dd>R</dd>
			<dt>down</dt><dd>F</dd>
			<dt>pan/tilt</dt><dd>click+drag mouse</dd>
		</dl>
	</div>
	
</div>